@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

:root {
  --gray1: #8EA3A8;
  --gray2: #839A9F;
  --gray3: #779095;
  --gray4: #5A797E;
  --gray5: #496C71;
  --midnight-green: #1D424D;
  --navy-blue: #1b1b3d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  position: relative;
  height: 100%;
  max-width: 100vw;
}

body {
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  cursor: pointer;
}